environment = "development" # Options: development, testing, production
port = 9000
frontend_url = "http://localhost:3000"
database_url = "postgres://user:password@localhost:5432/dbname"
jwt_secret = "your-jwt-secret-key"

redis_port = 6379
redis_host = "localhost"
redis_username = ""
redis_password = ""

# For running goose without further configuration
GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgres://postgres:1234@localhost:5432/postgres"
GOOSE_MIGRATION_DIR="./db/migrations"
