[Unit]
Description=Anokha 2025 Go Backend
After=network.target postgresql.service

[Service]
Type=simple
User=anokha
WorkingDirectory=/home/anokha/anokha-2025/anokha-2025-backend

Environment=PATH=/usr/local/go/bin:/usr/bin:/bin

ExecStart=/usr/bin/make run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
