[DEVELOPMENT]
env = "DEVELOPMENT"
port = 8080
database_url = "postgres://localhost/devdb"
smtp_host = "HostName"
smtp_port = 56
smtp_username = "username"
smtp_password = "password"

[PRODUCTION]
env = "PRODUCTION"
port = 80
database_url = "postgres://prod-db-server/proddb"
smtp_host = "HostName"
smtp_port = 56
smtp_username = "username"
smtp_password = "password"