[DEVELOPMENT]
env = "DEVELOPMENT"
port = 8080
database_url = "postgres://localhost/devdb"
redis_host = "localhost"
redis_port = 6379
redis_username = ""
redis_password = ""

[PRODUCTION]
env = "PRODUCTION"
port = 80
database_url = "postgres://prod-db-server/proddb"
redis_host = "localhost"
redis_port = 6379
redis_username = ""
redis_password = ""
