env = "DEVELOPMENT"
port = 8080

client_domain = 'http://localhost:3000'
cookie_domain = 'localhost'
cookie_secure = true

database_url = "postgres://postgres:1234@localhost:5432/postgres"

rabbitmq_url = "amqp://localhost:5672"

redis_host = "localhost"
redis_port = 6379
redis_username = ""
redis_password = ""

smtp_host = "smtp.host.name"
smtp_port = 56
smtp_username = "smtp_username"
smtp_password = "smtp_password"

payu_key = "some secure key"
payu_salt = "payU salt"
payu_verify_url = "yet-another-blank-url"
